div{

display: flex;

}


.botones{

justify-content: center;


}

.imagenes{

    justify-content: center;

}

#espacioimagen{
  
        position: relative;
        left: 0px;
          width:228px;
          height:130px;
          
        }
        .espacioimagen:hover {
          width:456px;
          height:260px;
          display:block;
          z-index:999;
        
}